$color_blue: #243e7d;
$color_red: #ff0000;
$color_white: #ffffff;

.pointer{
    cursor: pointer;
}
.text_center{
    text-align: center;
}
.text_starting{
    text-align: start;
}
.text_end{
    text-align: end;
}
.submit_color{
    color: $color_blue;
}
.medium_font_size{
    font-size: 14px;
}
.small_font_size{
    font-size: 12px;
}
.x_small_font_size{
    font-size: 10px;
}
.input_focus_none{
    &:focus{
        border: transparent;
        outline: none;
    }
    &:focus-visible{
        outline: none;
        border: transparent;
    }
}
.full_min_height{
    min-height: 100vh;
}
.dangerBackground {
    background-color: $color_red;
    color: $color_white;
}
.alertMessage{
    right: 10px;
    top: 10px;
    box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
}